$bgColor: #1890ff;

@mixin body {
	position: relative;
	padding-top: 1.5rem;
	height: 100%;
	width: 100%;
}
@mixin header {
	position: absolute;
	top: 0px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 1.5rem;
	width: 100%;
	font-size: .37333333rem;
	background-color: $bgColor;	
	color: #fff;	
}
.log, 
.register {
	@include body;
	.header {
		@include header;
	}
	.log-content {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		.link-register__div {
			width: 100%;
			padding: 1rem;
			text-align: right;
		}		
	}
	.am-list {
		width: 100%;
	}
}